[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree
[submodule ".vim/bundle/python-mode"]
	path = .vim/bundle/python-mode
	url = git://github.com/klen/python-mode
[submodule ".vim/bundle/snipmate.vim"]
	path = .vim/bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim
