[submodule "prompt/zsh-plugins/plugins/zsh-syntax-highlighting"]
	path = prompt/zsh-plugins/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "prompt/oh-my-zsh"]
	path = prompt/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "prompt/zsh-plugins/plugins/zsh-autosuggestions"]
	path = prompt/zsh-plugins/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotbot-brew"]
	path = dotbot-brew
	url = https://github.com/wren/dotbot-brew.git
[submodule "tpm"]
	path = tpm
	url = https://github.com/tmux-plugins/tpm.git
	ignore = dirty
[submodule "dotbot-crossplatform"]
	path = dotbot-crossplatform
	url = https://github.com/msdrigg/dotbot-crossplatform.git
[submodule "dotbot-omnipkg"]
	path = dotbot-omnipkg
	url = https://github.com/code-maniac/dotbot-omnipkg
