

- crossplatform-shell:
      # - command: powershell -c "$s=(Get-Content -Path '../.ssh/config' -Raw) -replace \"`r`n\", \"`n\" -replace \"`r`n\", \"`n\"" ; $s = $s -replace '""""', '""""""'; bws secret edit d5d012b9-2ee2-46d0-811a-b22a011f717b --value $s"
      #   description: Push ssh config  (windows)
      #   platform: win32
      #   quiet: true
      # - command: powershell -c "$s=(Get-Content -Path '../.gitconfig' -Raw) -replace \"`r`n\", \"`n\" -replace \"`r`n\", \"`n\"" ; $s = $s -replace '""""', '""""""'; bws secret edit 8049a071-d630-4335-962a-b22a011f8559 --value $s"
      #   description: Push git config  (windows)
      #   platform: win32
      #   quiet: true

      - command: op document edit "https://start.1password.com/open/i?a=7O5D6QDSYFD27OWQMJ62XYCF6I&v=s2tag6krtoej44gh6fwlxeewma&i=cyjuuf5p4rbqywcxw5iqrvxepq&h=my.1password.com" ~/.gitconfig
        description: Push git config
        platform: "!win32"
        quiet: true
      - command: op document edit https://start.1password.com/open/i\?a\=7O5D6QDSYFD27OWQMJ62XYCF6I\&v\=s2tag6krtoej44gh6fwlxeewma\&i\=2wywkw2wrdf65mgupjz2eeubky\&h\=my.1password.com ~/.ssh/config
        description: Push ssh config
        platform: "!win32"
        quiet: true
